# ETL
Se cargaran los datasets y posteriormente se realizaran sus respectivas modificaciones

In [70]:
# Librerias a usar
import pandas as pd
import numpy as np
import matplotlib

In [71]:
# Importacion de los datasets
df_Hechos = pd.read_csv('Data\Hechos_Homicidios.csv', sep= ",", )
df_Victimas = pd.read_csv("Data\Victimas_Homicidios.csv", sep= ",")

In [72]:
# Vista previa del dataframe de hechos
df_Hechos

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1.0,1/1/2016,2016.0,1.0,1.0,4:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8.0,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1.0,1/2/2016,2016.0,1.0,2.0,1:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9.0,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1.0,1/3/2016,2016.0,1.0,3.0,7:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,2034.0,NaN,ENTRE RIOS AV. 2034,1.0,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1.0,1/10/2016,2016.0,1.0,10.0,0:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8.0,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1.0,1/21/2016,2016.0,1.0,21.0,5:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1.0,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10488,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
df_Hechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10493 entries, 0 to 10492
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    float64
 2   FECHA                  696 non-null    object
 3   AAAA                   696 non-null    float64
 4   MM                     696 non-null    float64
 5   DD                     696 non-null    float64
 6   HORA                   696 non-null    object
 7   HH                     696 non-null    object
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  Calle                  695 non-null    object
 11  Altura                 129 non-null    float64
 12  Cruce                  525 non-null    object
 13  Dirección Normalizada  688 non-null    object
 14  COMUNA                 696 non-null    float64
 15  XY (CABA)              696 non-null    object
 16  pos x                  696 non-null    object
 17  pos y                  696 non-null    object
 18  PARTICIPANTES          696 non-null    object
 19  VICTIMA                696 non-null    object
 20  ACUSADO                696 non-null    object
dtypes: float64(6), object(15)
memory usage: 1.7+ MB

In [74]:
# Vericacion de nulos por cada columna
df_Hechos.isnull().sum()

ID                        9797
N_VICTIMAS                9797
FECHA                     9797
AAAA                      9797
MM                        9797
DD                        9797
HORA                      9797
HH                        9797
LUGAR_DEL_HECHO           9797
TIPO_DE_CALLE             9797
Calle                     9798
Altura                   10364
Cruce                     9968
Dirección Normalizada     9805
COMUNA                    9797
XY (CABA)                 9797
pos x                     9797
pos y                     9797
PARTICIPANTES             9797
VICTIMA                   9797
ACUSADO                   9797
dtype: int64

In [75]:
# Eliminar filas con más de 3 valores nulos
df_Hechos_1 = df_Hechos[df_Hechos.isnull().sum(axis=1) <= 3]

In [76]:
# Eliminacion de datos duplicados
df_Hechos_1 = df_Hechos_1.drop_duplicates()

In [77]:
df_Hechos_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 695 entries, 0 to 695
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     695 non-null    object
 1   N_VICTIMAS             695 non-null    float64
 2   FECHA                  695 non-null    object
 3   AAAA                   695 non-null    float64
 4   MM                     695 non-null    float64
 5   DD                     695 non-null    float64
 6   HORA                   695 non-null    object
 7   HH                     695 non-null    object
 8   LUGAR_DEL_HECHO        695 non-null    object
 9   TIPO_DE_CALLE          695 non-null    object
 10  Calle                  695 non-null    object
 11  Altura                 129 non-null    float64
 12  Cruce                  525 non-null    object
 13  Dirección Normalizada  688 non-null    object
 14  COMUNA                 695 non-null    float64
 15  XY (CABA)              695 non-null    object
 16  pos x                  695 non-null    object
 17  pos y                  695 non-null    object
 18  PARTICIPANTES          695 non-null    object
 19  VICTIMA                695 non-null    object
 20  ACUSADO                695 non-null    object
dtypes: float64(6), object(15)
memory usage: 119.5+ KB

In [78]:
df_Hechos_1.isnull().sum()

ID                         0
N_VICTIMAS                 0
FECHA                      0
AAAA                       0
MM                         0
DD                         0
HORA                       0
HH                         0
LUGAR_DEL_HECHO            0
TIPO_DE_CALLE              0
Calle                      0
Altura                   566
Cruce                    170
Dirección Normalizada      7
COMUNA                     0
XY (CABA)                  0
pos x                      0
pos y                      0
PARTICIPANTES              0
VICTIMA                    0
ACUSADO                    0
dtype: int64

In [79]:
# Verificacion de datos duplicados
df_Hechos_1.duplicated().sum()

0

In [80]:
frecuencia = df_Hechos_1['N_VICTIMAS'].value_counts()
print(frecuencia)

N_VICTIMAS
1.0    675
2.0     19
3.0      1
Name: count, dtype: int64

In [81]:
frecuencia = df_Hechos_1['AAAA'].value_counts().sort_index()
print(frecuencia)

AAAA
2016.0    143
2017.0    131
2018.0    143
2019.0    103
2020.0     78
2021.0     97
Name: count, dtype: int64

In [82]:
frecuencia = df_Hechos_1['MM'].value_counts().sort_index()
print(frecuencia)

MM
1.0     62
2.0     56
3.0     51
4.0     50
5.0     60
6.0     58
7.0     51
8.0     65
9.0     47
10.0    51
11.0    66
12.0    78
Name: count, dtype: int64

In [83]:
frecuencia = df_Hechos_1['DD'].value_counts().sort_index()
print(frecuencia)

DD
1.0     18
2.0     22
3.0     27
4.0     23
5.0     18
6.0     19
7.0     23
8.0     14
9.0     25
10.0    25
11.0    27
12.0    26
13.0    18
14.0    26
15.0    25
16.0    18
17.0    30
18.0    22
19.0    23
20.0    31
21.0    20
22.0    23
23.0    24
24.0    20
25.0    24
26.0    21
27.0    27
28.0    25
29.0    22
30.0    16
31.0    13
Name: count, dtype: int64

In [84]:
frecuencia = df_Hechos_1['HH'].value_counts().sort_index()
print(frecuencia)

HH
0     23
1     24
10    31
11    27
12    32
13    17
14    33
15    25
16    30
17    30
18    31
19    30
2     17
20    25
21    29
22    30
23    28
3     26
4     23
5     35
6     40
7     41
8     31
9     36
SD     1
Name: count, dtype: int64

Crearemos una nueva columna llamada "Momento del dia" la cual nos dira si el accidente ocurrio surante el dia o la noche

In [85]:
# Conversion del formato de la columna 'HH' a numerico 
df_Hechos_1['HH'] =  pd.to_numeric(df_Hechos_1['HH'], errors='coerce')

# Creamos la condicion para clasificar el dia o la noche 
condicion_dia = (df_Hechos_1['HH'] >= 6) & (df_Hechos_1['HH'] <= 18)

# Crear la nueva columna 'momento_del_dia' usando np.where
df_Hechos_1['Momento_del_dia'] = np.where(condicion_dia, 'Dia', 'Noche')

# Mostrar los resultados
df_Hechos_1

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO,Momento_del_dia
0,2016-0001,1.0,1/1/2016,2016.0,1.0,1.0,4:00:00,4.0,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8.0,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO,Noche
1,2016-0002,1.0,1/2/2016,2016.0,1.0,2.0,1:15:00,1.0,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9.0,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS,Noche
2,2016-0003,1.0,1/3/2016,2016.0,1.0,3.0,7:00:00,7.0,AV ENTRE RIOS 2034,AVENIDA,...,NaN,ENTRE RIOS AV. 2034,1.0,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO,Dia
3,2016-0004,1.0,1/10/2016,2016.0,1.0,10.0,0:00:00,0.0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8.0,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD,Noche
4,2016-0005,1.0,1/21/2016,2016.0,1.0,21.0,5:20:00,5.0,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1.0,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS,Noche
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691,2021-0093,1.0,12/13/2021,2021.0,12.0,13.0,17:10:00,17.0,AV. RIESTRA Y MOM,AVENIDA,...,MOM,RIESTRA AV. y MOM,7.0,Point (102728.60090138 98186.24929177),-58.43353773,-34.64561636,MOTO-AUTO,MOTO,AUTO,Dia
692,2021-0094,1.0,12/20/2021,2021.0,12.0,20.0,1:10:00,1.0,AU DELLEPIANE Y LACARRA,AUTOPISTA,...,LACARRA AV.,"DELLEPIANE, LUIS, TTE. GRAL. y LACARRA AV.",9.0,Point (99624.29795829 97569.69801131),-58.46739825,-34.65117757,MOTO-AUTO,MOTO,AUTO,Noche
693,2021-0095,1.0,12/30/2021,2021.0,12.0,30.0,0:43:00,0.0,AV. GAONA Y TERRADA,AVENIDA,...,TERRADA,GAONA AV. y TERRADA,11.0,Point (99116.45492358 101045.23284826),-58.47293407,-34.61984745,MOTO-CARGAS,MOTO,CARGAS,Noche
694,2021-0096,1.0,12/15/2021,2021.0,12.0,15.0,10:30:00,10.0,AV. EVA PERON 4071,AVENIDA,...,NaN,"PERON, EVA AV. 4071",9.0,Point (99324.54463985 97676.26932409),-58.47066794,-34.65021673,AUTO-CARGAS,AUTO,CARGAS,Dia
695,2021-0097,1.0,11/18/2021,2021.0,11.0,18.0,6:10:00,6.0,PADRE CARLOS MUJICA 709,CALLE,...,NaN,PADRE CARLOS MUGICA 709,1.0,Point (107664.16647795 104708.63962087),-58.37976155,-34.58679619,BICICLETA-AUTO,BICICLETA,AUTO,Dia

In [86]:
frecuencia = df_Hechos_1['TIPO_DE_CALLE'].value_counts().sort_index()
print(frecuencia)

TIPO_DE_CALLE
AUTOPISTA     66
AVENIDA      429
CALLE        135
GRAL PAZ      65
Name: count, dtype: int64

In [87]:
frecuencia = df_Hechos_1['COMUNA'].value_counts().sort_index()
print(frecuencia)

COMUNA
0.0      1
1.0     90
2.0     25
3.0     45
4.0     76
5.0     22
6.0     21
7.0     60
8.0     65
9.0     73
10.0    29
11.0    32
12.0    37
13.0    40
14.0    35
15.0    44
Name: count, dtype: int64

Se puede obrservar que hay un dato de la comuna '0' la cual no existe por que se arreglara buscando con su direccion o localizacion

In [88]:
# Fila en donde el dato de la columa = 0
df_Hechos_1[df_Hechos_1['COMUNA'] == 0]

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO,Momento_del_dia
139,2016-0174,1.0,12/27/2016,2016.0,12.0,27.0,0:00:00,0.0,AUTOPISTA 25 DE MAYO,AUTOPISTA,...,NaN,AUTOPISTA 25 DE MAYO,0.0,Point (. .),.,.,SD-SD,SD,SD,Noche

In [89]:
# Fila con datos de la victima para el accidete '2016-0174'	
df_Victimas[df_Victimas['ID_hecho']=='2016-0174']

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
141,2016-0174,12/27/2016,2016.0,12.0,27.0,SD,SD,SD,SD,SD

Al tener tantos datos nulos se toma la desicion de eliminar estas filas porque pueden tarernos problemas a la hora de hacer el analisis estadistico

In [90]:
# Eliminacion de las filas 
df_Hechos_1.drop(df_Hechos_1[df_Hechos_1['COMUNA'] == 0].index, inplace=True)
df_Victimas.drop(df_Victimas[df_Victimas['ID_hecho']=='2016-0174'].index, inplace=True)

In [91]:
frecuencia = df_Hechos_1['PARTICIPANTES'].value_counts().sort_index()
print(frecuencia)

PARTICIPANTES
AUTO-AUTO               31
AUTO-CARGAS             14
AUTO-MOVIL               1
AUTO-OBJETO FIJO        22
AUTO-PASAJEROS           9
AUTO-SD                  4
BICICLETA-AUTO           8
BICICLETA-CARGAS        10
BICICLETA-OTRO           1
BICICLETA-PASAJEROS      8
BICICLETA-TREN           1
CARGAS-AUTO              1
CARGAS-CARGAS            4
CARGAS-OBJETO FIJO       1
CARGAS-PASAJEROS         1
MOTO-AUTO               83
MOTO-BICICLETA           2
MOTO-CARGAS             78
MOTO-MOTO               25
MOTO-MOVIL               2
MOTO-OBJETO FIJO        40
MOTO-OTRO                2
MOTO-PASAJEROS          46
MOTO-SD                  9
MOVIL-CARGAS             1
MOVIL-PASAJEROS          1
MULTIPLE                17
PASAJEROS-AUTO           1
PASAJEROS-PASAJEROS      3
PASAJEROS-SD             1
PEATON-AUTO             77
PEATON-BICICLETA         5
PEATON-CARGAS           38
PEATON-MOTO             30
PEATON-PASAJEROS       105
PEATON-SD                3
PEATON_MOTO-MOTO         1
SD-AUTO                  2
SD-CARGAS                1
SD-MOTO                  1
SD-SD                    4
Name: count, dtype: int64

In [92]:
frecuencia = df_Hechos_1['VICTIMA'].value_counts().sort_index()
print(frecuencia)

VICTIMA
AUTO            83
BICICLETA       29
CARGAS           7
MOTO           295
MOVIL            2
OBJETO FIJO      1
PASAJEROS        5
PEATON         263
PEATON_MOTO      1
SD               8
Name: count, dtype: int64

In [93]:
frecuencia = df_Hechos_1['ACUSADO'].value_counts().sort_index()
print(frecuencia)

ACUSADO
AUTO           204
BICICLETA        7
CARGAS         146
MOTO            57
MULTIPLE        17
OBJETO FIJO     62
OTRO             6
PASAJEROS      173
SD              21
TREN             1
Name: count, dtype: int64

In [94]:
frecuencia = df_Hechos_1['Momento_del_dia'].value_counts().sort_index()
print(frecuencia)

Momento_del_dia
Dia      404
Noche    290
Name: count, dtype: int64

In [95]:
df_Hechos_1.columns

Index(['ID', 'N_VICTIMAS', 'FECHA', 'AAAA', 'MM', 'DD', 'HORA', 'HH',
       'LUGAR_DEL_HECHO', 'TIPO_DE_CALLE', 'Calle', 'Altura', 'Cruce',
       'Dirección Normalizada', 'COMUNA', 'XY (CABA)', 'pos x', 'pos y',
       'PARTICIPANTES', 'VICTIMA', 'ACUSADO', 'Momento_del_dia'],
      dtype='object')

# Victimas

In [96]:
# Vista previa del dataframe de Victimas
df_Victimas

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,1/1/2016,2016.0,1.0,1.0,CONDUCTOR,MOTO,MASCULINO,19,1/1/2016
1,2016-0002,1/2/2016,2016.0,1.0,2.0,CONDUCTOR,AUTO,MASCULINO,70,1/2/2016
2,2016-0003,1/3/2016,2016.0,1.0,3.0,CONDUCTOR,MOTO,MASCULINO,30,1/3/2016
3,2016-0004,1/10/2016,2016.0,1.0,10.0,CONDUCTOR,MOTO,MASCULINO,18,SD
4,2016-0005,1/21/2016,2016.0,1.0,21.0,CONDUCTOR,MOTO,MASCULINO,29,2/1/2016
...,...,...,...,...,...,...,...,...,...,...
715,2021-0095,12/30/2021,2021.0,12.0,30.0,CONDUCTOR,MOTO,MASCULINO,27,1/2/2022
716,2021-0096,12/15/2021,2021.0,12.0,15.0,CONDUCTOR,AUTO,MASCULINO,60,12/20/2021
717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
df_Victimas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 719 entries, 0 to 719
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_hecho             716 non-null    object
 1   FECHA                716 non-null    object
 2   AAAA                 716 non-null    float64
 3   MM                   716 non-null    float64
 4   DD                   716 non-null    float64
 5   ROL                  716 non-null    object
 6   VICTIMA              716 non-null    object
 7   SEXO                 716 non-null    object
 8   EDAD                 716 non-null    object
 9   FECHA_FALLECIMIENTO  716 non-null    object
dtypes: float64(3), object(7)
memory usage: 61.8+ KB

In [98]:
df_Victimas.isnull().sum()

ID_hecho               3
FECHA                  3
AAAA                   3
MM                     3
DD                     3
ROL                    3
VICTIMA                3
SEXO                   3
EDAD                   3
FECHA_FALLECIMIENTO    3
dtype: int64

In [99]:
# Eliminar de datos nulos 
df_Victimas_1 = df_Victimas[df_Victimas.isnull().sum(axis=1)<=1]

In [100]:
# Eliminar datos duplicados
df_Victimas_1 = df_Victimas_1.drop_duplicates()

In [101]:
# Transformar los datos de la columna 'EDAD' a numerico 
df_Victimas_1['EDAD'] =  pd.to_numeric(df_Victimas_1['EDAD'], errors='coerce')

In [102]:
df_Victimas_1

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,1/1/2016,2016.0,1.0,1.0,CONDUCTOR,MOTO,MASCULINO,19.0,1/1/2016
1,2016-0002,1/2/2016,2016.0,1.0,2.0,CONDUCTOR,AUTO,MASCULINO,70.0,1/2/2016
2,2016-0003,1/3/2016,2016.0,1.0,3.0,CONDUCTOR,MOTO,MASCULINO,30.0,1/3/2016
3,2016-0004,1/10/2016,2016.0,1.0,10.0,CONDUCTOR,MOTO,MASCULINO,18.0,SD
4,2016-0005,1/21/2016,2016.0,1.0,21.0,CONDUCTOR,MOTO,MASCULINO,29.0,2/1/2016
...,...,...,...,...,...,...,...,...,...,...
712,2021-0092,12/12/2021,2021.0,12.0,12.0,PEATON,PEATON,FEMENINO,50.0,12/12/2021
713,2021-0093,12/13/2021,2021.0,12.0,13.0,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,18.0,12/18/2021
714,2021-0094,12/20/2021,2021.0,12.0,20.0,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,43.0,12/20/2021
715,2021-0095,12/30/2021,2021.0,12.0,30.0,CONDUCTOR,MOTO,MASCULINO,27.0,1/2/2022
716,2021-0096,12/15/2021,2021.0,12.0,15.0,CONDUCTOR,AUTO,MASCULINO,60.0,12/20/2021

In [103]:
frecuencia = df_Victimas_1['AAAA'].value_counts().sort_index()
print(frecuencia)

AAAA
2016.0    145
2017.0    140
2018.0    149
2019.0    104
2020.0     81
2021.0     97
Name: count, dtype: int64

In [104]:
frecuencia = df_Victimas_1['MM'].value_counts().sort_index()
print(frecuencia)

MM
1.0     62
2.0     59
3.0     56
4.0     52
5.0     60
6.0     58
7.0     51
8.0     67
9.0     51
10.0    52
11.0    68
12.0    80
Name: count, dtype: int64

In [105]:
frecuencia = df_Victimas_1['DD'].value_counts().sort_index()
print(frecuencia)

DD
1.0     18
2.0     24
3.0     28
4.0     23
5.0     19
6.0     20
7.0     23
8.0     14
9.0     27
10.0    26
11.0    28
12.0    26
13.0    18
14.0    27
15.0    25
16.0    18
17.0    30
18.0    24
19.0    23
20.0    32
21.0    20
22.0    23
23.0    26
24.0    19
25.0    26
26.0    22
27.0    26
28.0    26
29.0    25
30.0    17
31.0    13
Name: count, dtype: int64

In [106]:
frecuencia = df_Victimas_1['ROL'].value_counts().sort_index()
print(frecuencia)

ROL
CICLISTA                 29
CONDUCTOR               330
PASAJERO_ACOMPAÑANTE     80
PEATON                  267
SD                       10
Name: count, dtype: int64

VICTIMA	SEXO	EDAD	FECHA_FALLECIMIENTO

In [107]:
frecuencia = df_Victimas_1['SEXO'].value_counts().sort_index()
print(frecuencia)

SEXO
FEMENINO     166
MASCULINO    545
SD             5
Name: count, dtype: int64

In [108]:
frecuencia = df_Victimas_1['EDAD'].value_counts().sort_index()
print(frecuencia)

EDAD
1.0     2
4.0     2
5.0     1
7.0     1
10.0    2
       ..
87.0    5
88.0    1
91.0    2
92.0    1
95.0    1
Name: count, Length: 85, dtype: int64

In [109]:
# Definir los rangos etarios
bins = [0, 18, 30, 50, float('inf')]
etiquetas = ['0-18', '19-30', '31-50', '51+']

# Crear una nueva columna 'RangoEtario' utilizando pd.cut
df_Victimas_1['RangoEtario'] = pd.cut(df_Victimas_1['EDAD'], bins=bins, labels=etiquetas, right=False)

# Mostrar los resultado
df_Victimas_1

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO,RangoEtario
0,2016-0001,1/1/2016,2016.0,1.0,1.0,CONDUCTOR,MOTO,MASCULINO,19.0,1/1/2016,19-30
1,2016-0002,1/2/2016,2016.0,1.0,2.0,CONDUCTOR,AUTO,MASCULINO,70.0,1/2/2016,51+
2,2016-0003,1/3/2016,2016.0,1.0,3.0,CONDUCTOR,MOTO,MASCULINO,30.0,1/3/2016,31-50
3,2016-0004,1/10/2016,2016.0,1.0,10.0,CONDUCTOR,MOTO,MASCULINO,18.0,SD,19-30
4,2016-0005,1/21/2016,2016.0,1.0,21.0,CONDUCTOR,MOTO,MASCULINO,29.0,2/1/2016,19-30
...,...,...,...,...,...,...,...,...,...,...,...
712,2021-0092,12/12/2021,2021.0,12.0,12.0,PEATON,PEATON,FEMENINO,50.0,12/12/2021,51+
713,2021-0093,12/13/2021,2021.0,12.0,13.0,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,18.0,12/18/2021,19-30
714,2021-0094,12/20/2021,2021.0,12.0,20.0,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,43.0,12/20/2021,31-50
715,2021-0095,12/30/2021,2021.0,12.0,30.0,CONDUCTOR,MOTO,MASCULINO,27.0,1/2/2022,19-30
716,2021-0096,12/15/2021,2021.0,12.0,15.0,CONDUCTOR,AUTO,MASCULINO,60.0,12/20/2021,51+

In [110]:
frecuencia = df_Victimas_1['RangoEtario'].value_counts().sort_index()
print(frecuencia)

RangoEtario
0-18      23
19-30    198
31-50    233
51+      210
Name: count, dtype: int64

Una vez hecho las respectivas modificaciones como fueron las eliminaciones de nulos, conversion de formatos y verifaciones de valores duplicados se procede a cargar los dataframes para realizar su analisis estadistico

In [111]:
# Exportacion de los dataframe en formato parquet
df_Hechos_1.to_parquet('Data\Hechos_Homicidios_ETL.parquert', index = False)
df_Victimas_1.to_parquet('Data\Victimas_Homicidios_ETL.parquert', index = False)